{% extends 'base.html.twig' %}

{% block title %}Create Event{% endblock %}

{% block body %}
    <div class="container mx-auto py-8 px-4">
        <h1 class="font-bold text-2xl pb-6">Créer un nouvel événement</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Créer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}