{% extends 'base.html.twig' %}

{% block title %}Calendrier des événements{% endblock %}

{% block body %}
    <div class="container mx-auto py-8 px-4">
        <div class="flex justify-between items-center mb-4">
            <h1 class="font-bold text-2xl">Calendrier des événements</h1>
            <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="{{ path('app_event_new') }}">Créer un événement</a>
        </div>
        <div id="calendar-holder"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const calendarEl = document.getElementById('calendar-holder');

            const calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                editable: true,
                eventSources: [
                    {
                        url: '/fc-load-events',
                        method: 'POST',
                        extraParams: {
                            filters: JSON.stringify({})
                        },
                        failure: () => {
                            alert('Il y a eu une erreur lors du chargement du calendrier.');
                        },
                    },
                ],
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                timeZone: 'UTC',
            });

            calendar.render();
        });
    </script>
{% endblock %}